@import "../base/resets";
@import "../base/typography";
@import "../abstracts/mixins";
@import "../abstracts/variables";

.category {
  font-family: $font-2;
  padding: 0 5%;
  margin: auto;
  max-width: 130rem;

  @include md-up {
    padding: 0 2%;
    margin: auto;
  }

  &__title {
    color: $color-7;
    font-size: 20px;
    font-weight: 400;
    padding: 0 0 1rem;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__list-item {
    list-style-type: none;
    width: 25%;
    margin-top: 0;
    margin-bottom: 1rem;

    @include md-up {
      width: 50%;
    }

    a {
      display: block;
      text-align: center;
      padding: 0 9px;
      text-decoration: none;

      span {
        color: $color-6;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  &__image {
    width: 100%;
    background-color: $bg-color-1;
  }
}
