@import "../base/resets";
@import "../base/typography";
@import "../abstracts/mixins";
@import "../abstracts/variables";

.home-category {
  font-family: $font-2;
  padding: 0 5%;
  margin: auto;
  max-width: 130rem;

  @include md-up {
    margin: auto;
    text-align: center;
  }

  &__title {
    color: $color-7;
    font-size: 2rem;
    font-weight: 400;
    padding: 2rem 1rem;
    margin: 0;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__list-item {
    list-style-type: none;
    width: 25%;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;

    @include md-up {
      width: 50%;
    }

    @include sm-up {
      width: 100%;
    }
  }

  &__link {
    display: block;
    text-align: center;
    text-decoration: none;
  }

  &__image {
    width: 100%;
    background-color: $bg-color-1;
  }

  &__product {
    color: $color-6;
    font-size: 1.4rem;
    font-weight: 400;
  }
}
