@import "../base/resets";
@import "../base/typography";
@import "../abstracts/mixins";
@import "../abstracts/variables";

.info {
  margin: 3rem auto;
  padding: 0 5%;
  max-width: 130rem;

  &__main {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;

    @include md-up {
      margin: 30px 0;
      width: 100%;
      float: left;
      border-radius: 0;
    }

    > img {
      @include md-up {
        border-radius: 0.5rem;
      }
    }
  }

  &__wrap {
    @include md-up {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__left {
    position: absolute;
    top: 50%;
    width: 50%;
    padding: 0 0 0 5%;
    box-sizing: border-box;
    transform: translateY(-50%);

    @include md-up {
      padding: 0;
      position: unset;
      width: 100%;
      max-width: 460px;
      margin: auto;
      transform: none;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h4 {
      margin-top: 2rem;
      margin-bottom: 2rem;
      color: $color-4;
      font-size: 32px;
      font-weight: 400;

      @include md-up {
        font-size: 26px;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }
    }

    p {
      color: $color-3;
      font-size: 16px;
      font-weight: 300;

      @include md-up {
        font-size: 14px;
      }
    }

    a {
      padding: 0.5rem 0;
      border-radius: 5rem;
      background-color: $color-2;
      font-size: 14px;
      font-weight: 400;
      max-width: 19rem;
      text-align: center;
      display: block;
      line-height: 44px;
      color: #ffffff;
      text-decoration: none;

      @include md-up {
        width: 100%;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__right {
    position: absolute;
    top: 50%;
    width: 50%;
    right: 0;
    padding: 0 5% 0 0;
    transform: translateY(-50%);

    @include md-up {
      padding: 0;
      width: 100%;
      position: unset;
      transform: none;
    }
  }

  &__list-wrap {
    list-style-type: none;
    max-width: 400px;
    float: right;
    display: flex;
    flex-wrap: wrap;

    @include md-up {
      margin: 1rem auto;
      float: unset;
      max-width: 250px;
    }
  }

  &__list-item {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;

    @include md-up {
      padding: 0 auto;
      margin: auto;
    }

    a {
      display: block;
      height: 100%;
      border-radius: 5px;

      img {
        display: inline-block;
        height: auto;
        max-width: 100%;
      }
    }
  }
}
